@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sens-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* some fact related style  */

.fact{
border: 1px solid #ff900e;


}
    .fact-container{
        display: grid;
        grid-template-columns:repeat(4 , 1fr);
        
        
    }
    .fact{width: 240px;
        height: 240px;
        border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;}
    .fact-number{
        font-size:2.8rem;
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 10px;

    }
    .fact-name{ 
     color: #727272;
     margin-top: 10px;
     font-size: 1.25rem;
     font-weight: 600;
    
    }
    .fact-discrition{
        max-width: 540px;
    }
/* sheared style  */

.section-title{
    font-size: 3rem;
    font-weight: 700;
}

main >section{
    margin-top: 130px;
}
.main{
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary{
    background-color: orange;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
}
.display-flex{ 
    
    display:flex}

/* dark 02 */
    .text-grey{
        color: #424242;
    }
    .text-primary{
        color: orange;
    }

/* dark 03 */
.text-light-grey {
    color: #727272;

}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1);
}


/* header style  */




/* navbar related sytyle */

.navber{
    justify-content: space-between;
    align-items: center;
    }
    .banner{
        font-weight: 700px;
        font-size: 3em;
    }
      
.nav-link{
    text-decoration: none;
    
}
.nav-item{
    list-style: none;
    margin: 20px;}
    
 
   
.navber, .banner{
    max-width: 1440px;
      margin: 0 auto;
  

}

/* banner related design  */
.banner-content{
    max-width: 850px;
    margin:  0 auto;
    text-align: center;
    margin-bottom: 50px;
    
    
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;

}

/* team and feature related style  */
.team-img-container{
    display: grid;
    gap: 24px;
   grid-template-columns: repeat(2,1fr);
} 
.our-features{
   margin-left: 73px;
    max-width: 570px;
  
}

.team{
    align-items: center;
}


#Quick-list{
    font-weight: 500;

}
#architect-girl-section-title{
    border-left: 5px solid orange;
    padding: 20px;
}

/* feature wii you start  */
.featured-card-title{
    padding: 0;
}
.architect-girl-section{
    gap: 130px;
}
.featured-card{padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.6);
    margin: 20px;
    border-radius: 8px;
    padding: 30px;
}
.featured-card-title .featured-card{
    font-weight: 600px;
    font-size: 1.25rem;
    
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
#experience-badge{
    margin-top: -100px;
    margin-left: -100px;
    padding: 42px 42px;
    
}
/* our sponsors  */
.sponsors-section{
    text-align: center;
    
}
.our-sopnsors{
    max-width: 540px;
    margin: 50px auto;

}
.our-sponsors-info{
    font-size: 3.20rem;
    font-weight: 700;
}
.sponsors-image{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   filter: grayscale(100%);
}
.sponsors-discription{
    
}

/* responsive media query  */

@media screen and (max-width: 576px){
   .navber, 
    .nav-link,  
    .team,{
        flex-direction:column;
       
    }
    .team-img-container, .fact-container, .sponsors-image{
        grid-template-columns: 1fr
    }
    .our-features,{
        margin-left:20px ;
    }

    .fact-container, .sponsors-image{
        justify-items: center;
        gap: 20px;
    }
    .sponsors-image{
        gap: 20px;
        margin-top: 10px;
    }
    }



    /* medium size device  */
    @media screen and (min-width:576px) and (max-width:992px){
        
.teams{
    flex-direction: column;
   

.our-features{ 
    margin: 50px auto;
}
    .sponsors-image{
        grid-template-columns: repeat(3,1fr);
    }
        
    }






